<div id="about">
  <h1>About Blockbuster</h1>
  <div class="mytextcard">
    <p>
      Blockbuster is your premier destination for movie rentals, offering a vast
      selection of films across all genres. Whether you're in the mood for a
      classic, a blockbuster hit, or an indie gem, we've got you covered.
    </p>
    <br />
    <p>
      Our mission is to provide an easy and enjoyable movie rental experience,
      with user-friendly browsing and convenient rental options. Join us today
      and dive into the world of cinema!
    </p>
  </div>
</div>