<div id="principal">
  <h1>Welcome to Blockbuster</h1>
  <div class="mytextcard">
    <p>Your one-stop shop for all your movie rental needs!</p>
    <br />
    <p>Browse our extensive collection of movies and TV shows.</p>
  </div>
</div>